body{
    text-align:justify;
    
    background-color: #E1C603;

}
#Id

{
    width: 100%;
 
}

h1{
  height: 100px;

    color: #00ff00;
        

  background-color:  #008000;
 <!---
define a cor de fundo do título principal
--->
  font-size: 80px;
   <!---
define a altura do título principal
--->
  font-style: italic;
 
}
h2{
    Color:   #0000ff
 <!---
define a cor do segundo título
--->
